layer-rule {
    match namespace="awww-daemon"
    match namespace="hyprlax"
    match namespace="hyprpaper"
    match namespace="wallpaper"
    match namespace="swww-daemonoverview"
    place-within-backdrop true
}
