// open-maximized
window-rule {
    // app-id
    match app-id="floorp"
    match app-id="mpv"
    match app-id="swayimg"
    match app-id="gamescope"
    match app-id="org.pipewire.Helvum"
    match app-id="code"
    match app-id="ONLYOFFICE"
    match app-id="jetbrains-idea"
    match app-id="Moonlight"
    match app-id="Emacs"
    match app-id="OBS"
    match app-id="calibre-gui"
    match app-id="calibre-ebook-viewer"
    match app-id="QQ"
    match app-id="wechat"
    match app-id="me-him188-ani-app-desktop-AniDesktop"
    match app-id="chromium"
    match app-id="helium"
    match app-id="rs.ruffle.Ruffle"
    // title
    match title="另存为"
    open-maximized true
}
