layout {
  background-color "transparent"
  gaps 0
  center-focused-column "never"
  always-center-single-column
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }
  default-column-width {
    proportion 0.5
  }
  focus-ring {
    on
    width 0
    active-color "#DDAACC"
    inactive-color "#505050"
  }
  border {
    off
    width 4
    active-color "#ffc87f"
    inactive-color "#505050"
    urgent-color "#9b0000"
  }
  shadow {
    off
    softness 30
    spread 5
    offset x=0 y=5
    color "#ffffff"
  }
  struts {
    left 0
    right 0
    top 0
    bottom 0
  }
}
recent-windows {
  on
  debounce-ms 750
  open-delay-ms 150
  highlight {
    active-color "#999999ff"
    urgent-color "#ff999900"
    padding 0
    corner-radius 12
  }
  previews {
    max-height 1080
    max-scale 0.2
  }
  binds {
    Mod+Tab {
      next-window scope="workspace"
    }
    Mod+Shift+Tab {
      previous-window scope="workspace"
    }
    Mod+grave {
      next-window filter="app-id"
    }
    Mod+Shift+grave {
      previous-window filter="app-id"
    }
  }
}
