spawn-sh-at-startup "awww-daemon"
spawn-sh-at-startup "echo 'Xft.dpi: 144' | xrdb -m"
spawn-sh-at-startup "fcitx5"
spawn-sh-at-startup "gammastep -l 39.9:116.3 -t 3500:3000 -r -P"
spawn-sh-at-startup "ironbar"
spawn-sh-at-startup "kanata"
spawn-sh-at-startup "kanshi"
spawn-sh-at-startup "~/.local/bin/sync_x11_clip"
spawn-sh-at-startup "niri-float-sticky -app-id 'one.alynx.showmethekey|top.imsyy.splayer_next'"
spawn-sh-at-startup "pgrep xwayland-satellite || xwayland-satellite :11"
spawn-sh-at-startup "sunshine"
spawn-sh-at-startup "systemctl --user start darkman.service"
spawn-sh-at-startup "/usr/lib/hyprpolkitagent/hyprpolkitagent"
// spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --watch cliphist store"
