include "~/.config/niri/binds/app.kdl"
include "~/.config/niri/binds/mouse.kdl"
include "~/.config/niri/binds/sh.kdl"
include "~/.config/niri/binds/sys.kdl"
include "~/.config/niri/binds/wm.kdl"
include "~/.config/niri/binds/workspace.kdl"
binds {
    // Key Suggestion
    Mod+Shift+Slash {
        show-hotkey-overlay
    }
    // Unregister niri to display manage
    Mod+Shift+E {
        quit
    }
    // Screenshot
    Print {
        screenshot-screen
    }
    Ctrl+Print {
        screenshot
    }
    Alt+Print {
        screenshot-window
    }
    Mod+Shift+P {
        power-off-monitors
    }
}
