binds {
    // Audio
    XF86AudioMicMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"
    }
    XF86AudioMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"
    }
    // Brightness
    Ctrl+XF86AudioRaiseVolume allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "+10%"
    }
    Ctrl+XF86AudioLowerVolume allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "10%-"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "+10%"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "10%-"
    }
    // Rog
    XF86Launch3 allow-when-locked=true {
        spawn "rog-control-center"
    }
}
